<div id="enter-comments" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title theme-color">
                    <i class="fa fa-commenting-o"></i> Daily Comments
                </h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="nsForm">New Starts</label>
                    <textarea id="nsForm" class="form-control comment-form"></textarea>
                    <label for="resForm">Resupply</label>
                    <textarea id="resForm" class="form-control comment-form"></textarea>
                    <label for="compForm">Compliance</label>
                    <textarea id="compForm" class="form-control comment-form"></textarea>
                    <label for="schedForm">Scheduling</label>
                    <textarea id="schedForm" class="form-control comment-form"></textarea>
                    <label for="phoneForm">NS Phones</label>
                    <textarea id="phoneForm" class="form-control comment-form"></textarea>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="save-btn" class="btn btn-dark form-control">Save</button>
                    <button type="button" class="btn btn-danger" id="close-modal" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>