<footer class="footer">
    <div class="container-fluid">
        <div class="row py-3">
            <div class="col-xl-8">
                <a class="btn btn-info copyright" href="#" title="Copyright">
                    <span class="copy-text">
                        <i class="fa fa-copyright"></i> Joseph Spira 2017
                    </span>
                </a>
                <a title="Send a suggestion/Comment" data-toggle="modal" data-target="#contact-us" class="btn btn-info ml-3">
                    <i class="fa fa-comment-o"></i>
                </a>
                <a title="Visit QMES PAP Site" class="btn btn-info ml-1" href="http://qmescpap.com/" target="_blank" rel="noopener">
                    <i class="fa fa-globe"></i>
                </a>
                <a title="Email site admin" class="btn btn-info ml-1" href="mailto:joseph@oceanhomehealth.com?subject=OHH Web App" rel="noopener">
                    <i class="fa fa-envelope-o"></i>
                </a>
                <a id="admin-btn" data-toggle="modal" data-target="#enter-comments" class="btn btn-info ml-1"></a>
            </div>
            <div class="col-xl-2"></div>
            <div class="col-xl-2 ml-auto">
                <a href="#" class="btn btn-info py-2">
                    <span id="todayIs"></span>
                </a>
            </div>
        </div>
    </div>
</footer>