<footer class="footer">
    <nav class="navbar navbar-expand-md bg-primary navbar-dark">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="btn btn-info copyright disabled" href="#" title="Copyright">
                    <span class="copy-text">
                        <i class="fa fa-copyright" aria-hidden="true"></i> Joseph Spira 2017</span>
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav rounded-circle" id="footer-buttons">
                    <li class="nav-item active pl-3" id="contact">
                        <a title="Send a suggestion/Comment" data-toggle="modal" data-target="#contact-us" class="btn btn-info">
                            <i class="fa fa-comment-o" aria-hidden="true"></i>

                        </a>
                    </li>
                    <li class="nav-item active pl-3" id="contact">
                        <a title="Visit QMES PAP Site" class="btn btn-info" href="http://qmescpap.com/" target="_blank" rel="noopener">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item active pl-3" id="contact">
                        <a title="Email site admin" class="btn btn-info" href="mailto:joseph@oceanhomehealth.com?subject=OHH Web App" rel="noopener">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <span class="navbar-text" id="todayIs"></span>
        </div>
    </nav>
</footer>