<footer class="footer">
    <nav class="navbar navbar-expand-md navbar-inverse fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myFooter">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="btn btn-info copyright" href="#" title="Copyright" aria-disabled="true">
                    <span class="copy-text">
                        <i class="fa fa-copyright" aria-hidden="true"></i> Joseph Spira 2017</span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myFooter">
                <ul class="nav navbar-nav rounded-circle" id="footer-buttons">
                    <li class="nav-item active pl-3" id="contact">
                        <a title="Send a suggestion/Comment" data-toggle="modal" data-target="#contact-us" class="btn btn-info">
                            <i class="fa fa-comment-o" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item active pl-3" id="contact">
                        <a title="Visit QMES PAP Site" class="btn btn-info" href="http://qmescpap.com/" target="_blank" rel="noopener">
                            <i class="fa fa-globe" aria-hidden="true"></i>
                        </a>
                    </li>
                    <li class="nav-item active pl-3" id="contact">
                        <a title="Email site admin" class="btn btn-info" href="mailto:joseph@oceanhomehealth.com?subject=OHH Web App" rel="noopener">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </a>
                    </li>
                </ul>
                <a href="#" class="btn btn-info pull-right" aria-disabled="true" id="pull-right">
                    <span class="navbar-text" id="todayIs"></span>
                </a>
            </div>
        </div>
    </nav>
</footer>