<div>
    <div id="contact-us" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title theme-color">
                        <i class="fa fa-commenting-o" aria-hidden="true"></i> Suggestions/Questions
                    </h4>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="contactName">Name</label>
                            <input type="text" class="form-control" id="contactName" aria-describedby="nameHelp" placeholder="Enter name">
                        </div>
                        <div class="form-group">
                            <label for="contactEmail">Email</label>
                            <input type="email" class="form-control" id="contactEmail" aria-describedby="emailHelp" placeholder="Enter email">
                        </div>
                        <div class="form-group">
                            <label for="contactSubject">Subject</label>
                            <select id="contactSubject" class="form-control">
                                <option value="Question">Question</option>
                                <option value="Suggestion">Suggestion</option>
                                <option value="BugReport">Bug Report</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="contactBody">Message</label>
                            <textarea id="contactBody" class="form-control" placeholder="Enter Message..."></textarea>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="contact-submit" class="btn btn-info">Submit</button>
                    <button type="button" class="btn btn-danger" id="close-modal" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>