<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    {{> _head-tags}}
</head>
{{#if class}}

<body class="map">
    {{else}}

    <body>
        {{/if}} {{> _navbar}} {{{body}}} {{> _modal}} {{> _footer}} {{> _script-tags}}
    </body>

</html>