<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title}}</title>
    {{> _head-tags}}
</head>
<div class="footer-helper">
    {{#if class}}

    <body class="map">
        {{else}}

        <body>
            {{/if}} {{> _navbar}} {{{body}}} {{> _modal}} {{> _data-modal}} {{> _email-sent}} {{> _footer}} {{> _script-tags}}
        </body>
</div>

</html>