<div class="container my-4">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title theme-color">Training Documents</h3>
                </div>
                <div class="card-body">
                    <p class="pb-2">
                        <span class="card-text h5">
                            <i class="fa fa-2x fa-file-powerpoint-o theme-color"></i> Compliance Training Manual</span>
                        <a href="#" class="btn btn-dark theme-color ml-5 float-right">
                            <i class="fa fa-download"></i> Download</a>
                    </p>
                    <hr>
                    <p class="pb-2">
                        <span class="card-text h5">
                            <i class="fa fa-2x fa-file-powerpoint-o theme-color"></i> Resupply Training Manual</span>
                        <a href="#" class="btn btn-dark theme-color ml-5 float-right">
                            <i class="fa fa-download"></i> Download</a>
                    </p>
                    <hr>
                    <p class="pb-2">
                        <span class="card-text h5">
                            <i class="fa fa-2x fa-file-powerpoint-o theme-color"></i> New Starts Training Manual</span>
                        <a href="#" class="btn btn-dark theme-color ml-5 float-right">
                            <i class="fa fa-download"></i> Download</a>
                    </p>
                    <hr>
                    <p class="pb-2">
                        <span class="card-text h5">
                            <i class="fa fa-2x fa-file-powerpoint-o theme-color"></i> Compliance Training Manual</span>
                        <a href="#" class="btn btn-dark theme-color ml-5 float-right">
                            <i class="fa fa-download"></i> Download</a>
                    </p>
                    <hr>
                    <p class="pb-2">
                        <span class="card-text h5">
                            <i class="fa fa-2x fa-file-powerpoint-o theme-color"></i> Resupply Training Manual</span>
                        <a href="#" class="btn btn-dark theme-color ml-5 float-right">
                            <i class="fa fa-download"></i> Download</a>
                    </p>
                    <hr>
                    <p class="pb-2">
                        <span class="card-text h5">
                            <i class="fa fa-2x fa-file-powerpoint-o theme-color"></i> New Starts Training Manual</span>
                        <a href="#" class="btn btn-dark theme-color ml-5 float-right">
                            <i class="fa fa-download"></i> Download</a>
                    </p>
                    <hr>
                    <p class="pb-2">
                        <span class="card-text h5">
                            <i class="fa fa-2x fa-file-powerpoint-o theme-color"></i> Compliance Training Manual</span>
                        <a href="#" class="btn btn-dark theme-color ml-5 float-right">
                            <i class="fa fa-download"></i> Download</a>
                    </p>
                    <hr>
                    <p class="pb-2">
                        <span class="card-text h5">
                            <i class="fa fa-2x fa-file-powerpoint-o theme-color"></i> Resupply Training Manual</span>
                        <a href="#" class="btn btn-dark theme-color ml-5 float-right">
                            <i class="fa fa-download"></i> Download</a>
                    </p>
                    <hr>
                    <p class="pb-2">
                        <span class="card-text h5">
                            <i class="fa fa-2x fa-file-powerpoint-o theme-color"></i> New Starts Training Manual</span>
                        <a href="#" class="btn btn-dark theme-color ml-5 float-right">
                            <i class="fa fa-download"></i> Download</a>
                    </p>
                    <hr>
                    <p class="pb-2">
                        <span class="card-text h5">
                            <i class="fa fa-2x fa-file-powerpoint-o theme-color"></i> Compliance Training Manual</span>
                        <a href="#" class="btn btn-dark theme-color ml-5 float-right">
                            <i class="fa fa-download"></i> Download</a>
                    </p>
                    <hr>
                    <p class="pb-2">
                        <span class="card-text h5">
                            <i class="fa fa-2x fa-file-powerpoint-o theme-color"></i> Resupply Training Manual</span>
                        <a href="#" class="btn btn-dark theme-color ml-5 float-right">
                            <i class="fa fa-download"></i> Download</a>
                    </p>
                    <hr>
                    <p class="pb-2">
                        <span class="card-text h5">
                            <i class="fa fa-2x fa-file-powerpoint-o theme-color"></i> New Starts Training Manual</span>
                        <a href="#" class="btn btn-dark theme-color ml-5 float-right">
                            <i class="fa fa-download"></i> Download</a>
                    </p>
                    <hr>
                    <p class="pb-2">
                        <span class="card-text h5">
                            <i class="fa fa-2x fa-file-powerpoint-o theme-color"></i> Compliance Training Manual</span>
                        <a href="#" class="btn btn-dark theme-color ml-5 float-right">
                            <i class="fa fa-download"></i> Download</a>
                    </p>
                    <hr>
                    <p class="pb-2">
                        <span class="card-text h5">
                            <i class="fa fa-2x fa-file-powerpoint-o theme-color"></i> Resupply Training Manual</span>
                        <a href="#" class="btn btn-dark theme-color ml-5 float-right">
                            <i class="fa fa-download"></i> Download</a>
                    </p>
                    <hr>
                    <p class="pb-2">
                        <span class="card-text h5">
                            <i class="fa fa-2x fa-file-powerpoint-o theme-color"></i> New Starts Training Manual</span>
                        <a href="#" class="btn btn-dark theme-color ml-5 float-right">
                            <i class="fa fa-download"></i> Download</a>
                    </p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>