<div class="container-fluid my-4">
    <div class="row pb-3">
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title theme-color">Training Documents</h3>
                </div>
                <div class="card-body">
                    <p class="pb-2">
                        <span class="card-text h5">
                            <i class="fa fa-2x fa-file-pdf-o theme-color"></i> Compliance Training Manual
                        </span>
                        <a href="./docs/training/ComplianceOverview.pdf" class="btn btn-dark theme-color ml-5 float-right" target="_blank">
                            <i class="fa fa-download"></i> Download
                        </a>
                    </p>
                    <hr>
                    <p class="pb-2">
                        <span class="card-text h5">
                            <i class="fa fa-2x fa-file-pdf-o theme-color"></i> Compliance Workflow Manual
                        </span>
                        <a href="./docs/training/ComplianceWorkflow.pdf" class="btn btn-dark theme-color ml-5 float-right" target="_blank">
                            <i class="fa fa-download"></i> Download
                        </a>
                    </p>
                    <hr>
                    <p class="pb-2">
                        <span class="card-text h5">
                            <i class="fa fa-2x fa-file-pdf-o theme-color"></i> PAP Equipment Overview
                        </span>
                        <a href="./docs/training/PAPOverview.pdf" class="btn btn-dark theme-color ml-5 float-right" target="_blank">
                            <i class="fa fa-download"></i> Download
                        </a>
                    </p>
                    <hr>
                    <p class="pb-2">
                        <span class="card-text h5">
                            <i class="fa fa-2x fa-file-pdf-o theme-color"></i> Compliance Workflow App Manual
                        </span>
                        <a href="./docs/training/WorkflowPortal.pdf" class="btn btn-dark theme-color ml-5 float-right" target="_blank">
                            <i class="fa fa-download"></i> Download
                        </a>
                    </p>
                    <hr>
                </div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title theme-color">Equipment Guides/Manuals</h3>
                </div>
                <div class="card-body">
                    <p class="pb-2">
                        <span class="card-text h5">
                            <i class="fa fa-2x fa-file-pdf-o theme-color"></i> ResMed AirSense 10 Guide
                        </span>
                        <a href="./docs/guides/ResMedAirSense10Guide.pdf" class="btn btn-dark theme-color ml-5 float-right" target="_blank">
                            <i class="fa fa-download"></i> Download
                        </a>
                    </p>
                    <hr>
                    <p class="pb-2">
                        <span class="card-text h5">
                            <i class="fa fa-2x fa-file-pdf-o theme-color"></i> ResMed AirCurve 10 Guide
                        </span>
                        <a href="./docs/guides/ResMedAirCurve10Guide.pdf" class="btn btn-dark theme-color ml-5 float-right" target="_blank">
                            <i class="fa fa-download"></i> Download
                        </a>
                    </p>
                    <hr>
                    <p class="pb-2">
                        <span class="card-text h5">
                            <i class="fa fa-2x fa-file-pdf-o theme-color"></i> ResMed Troubleshooting Guide
                        </span>
                        <a href="./docs/guides/ResMedTroubleshootingGuide.pdf" class="btn btn-dark theme-color ml-5 float-right" target="_blank">
                            <i class="fa fa-download"></i> Download
                        </a>
                    </p>
                    <hr>
                    <p class="pb-2">
                        <span class="card-text h5">
                            <i class="fa fa-2x fa-file-pdf-o theme-color"></i> DreamStation Modem Guide
                        </span>
                        <a href="./docs/guides/DreamStationModemSetUpGuide.pdf" class="btn btn-dark theme-color ml-5 float-right" target="_blank">
                            <i class="fa fa-download"></i> Download
                        </a>
                    </p>
                    <hr>
                    <p class="pb-2">
                        <span class="card-text h5">
                            <i class="fa fa-2x fa-file-pdf-o theme-color"></i> Dream Mapper Guide
                        </span>
                        <a href="./docs/guides/DreamMapperUserGuideMobile.pdf" class="btn btn-dark theme-color ml-5 float-right" target="_blank">
                            <i class="fa fa-download"></i> Download
                        </a>
                    </p>
                    <hr>
                    <p class="pb-2">
                        <span class="card-text h5">
                            <i class="fa fa-2x fa-file-pdf-o theme-color"></i> DreamStation CPAP User Manual
                        </span>
                        <a href="./docs/manuals/DreamStationCPAPUserManual.pdf" class="btn btn-dark theme-color ml-5 float-right" target="_blank">
                            <i class="fa fa-download"></i> Download
                        </a>
                    </p>
                    <hr>
                    <p class="pb-2">
                        <span class="card-text h5">
                            <i class="fa fa-2x fa-file-pdf-o theme-color"></i> System One CPAP User Manual
                        </span>
                        <a href="./docs/manuals/SystemOneManual.pdf" class="btn btn-dark theme-color ml-5 float-right" target="_blank">
                            <i class="fa fa-download"></i> Download
                        </a>
                    </p>
                    <hr>
                </div>
            </div>
        </div>
    </div>
</div>