<div class="container table-responsive">
    <div class="form-group pt-4">
        <input type="text" class="search form-control" placeholder="Search for Item..." />
    </div>
    <p class="counter"></p>
    <div class="table-responsive">
        <table id="pricetable" class="table table-bordered table-striped table-hover results"></table>
    </div>
</div>