<div class="container table-responsive">
    <div class="input-group pt-4" id="search-bar">
        <div class="input-group-prepend" id="bg-prepend">
            <span class="input-group-text theme-color h5" id="basic-addon1">$</span>
        </div>
        <input type="text" class="search form-control theme-color" placeholder="Search for Item..." />
    </div>
    <p class="counter h5 pt-2"></p>
    <div class="table-responsive">
        <table id="pricetable" class="table table-bordered table-striped table-hover results"></table>
    </div>
</div>