<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <iframe class="ProdReport" src="https://app.powerbi.com/view?r=eyJrIjoiYWY5MjM2MjQtNGNhOC00MDQwLWFmZDctNjRkYjFjNWU2MWQzIiwidCI6IjFkZGJiOGYyLTE3OTAtNGYzNS1hYjU1LTU0NDY1Y2UwYTljYyIsImMiOjF9"
                frameborder="0" allowFullScreen="true"></iframe>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active theme-color" id="home-tab" data-toggle="tab" href="#home" role="tab">New Starts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link theme-color" id="profile-tab" data-toggle="tab" href="#profile" role="tab">Resupply</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link theme-color" id="contact-tab" data-toggle="tab" href="#contact" role="tab">Compliance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link theme-color" id="contact-tab" data-toggle="tab" href="#schedule" role="tab">Scheduling</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link theme-color" id="contact-tab" data-toggle="tab" href="#phones" role="tab">NS Phones</a>
                </li>
            </ul>
            <div class="tab-content theme-color" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel">...</div>
                <div class="tab-pane fade" id="profile" role="tabpanel">...</div>
                <div class="tab-pane fade" id="contact" role="tabpanel">...</div>
                <div class="tab-pane fade" id="schedule" role="tabpanel">...</div>
                <div class="tab-pane fade" id="phones" role="tabpanel">...</div>
            </div>
        </div>
    </div>
</div>