body {
    background-color: #f8f5f5;
    padding-top: 4%;
    max-height: 100% !important;
    margin-bottom: -50%;
}

.ProdReport {
    border: 4px outset teal;
    width: 100%;
    height: 470px;
}

.nav-i {
    color: #13818D;
}

.results tr[visible='false'],
.no-result {
    display: none;
}

.results tr[visible='true'] {
    display: table-row;
}

.counter {
    padding: 0.75%;
    color: black;
}

#todayIs {
    font-size: small;
    font-weight: bold;
}

.footer {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding-top: 4%;
    color: lightgray;
}

.hundred {
    width: 100%;
    height: 300px;
}

.locationReport {
    border: 4px outset teal;
}

.map {
    background-image: url("../images/map.jpg");
    background-position: center;
    background-size: cover;
}

.copyright {
    vertical-align: middle;
    white-space: nowrap;
}

.line {
    border-top: 1px solid lightgray;
}

.weather-design {
    background-color: lightgray;
    text-align: center;
    text-justify: auto;
    height: 45px;
    color: #13818D !important;
}

.firstSection {
    padding-top: 3%;
}

.card-block {
    border: 0.15rem solid #868e96;
    padding: 0.10rem;
}

.card-header {
    background-color: lightgray;
}

#footer-buttons {
    height: 65%;
}

.copy-text {
    opacity: 0.4;
}

.popover {
    background: #007bff;
    color: white;
    height: 4%;
}