body {
    background-color: #f8f5f5;
    margin-top: 6%;
    max-height: 100% !important;
}

.ProdReport {
    border: 4px outset #13818D;
    width: 100%;
    height: 470px;
}

.nav-i {
    color: #13818D;
}

.results tr[visible='false'],
.no-result {
    display: none;
}

.results tr[visible='true'] {
    display: table-row;
}

.counter {
    padding: 0.75%;
    color: #13818D;
}

#todayIs {
    font-size: small;
    font-weight: bold;
}

.hundred {
    width: 100%;
    height: 300px;
}

.locationReport {
    border: 4px outset #13818D;
}

.map {
    background-image: url("../images/map.jpg");
    background-position: center;
    background-size: cover;
}

.copyright {
    vertical-align: middle;
    white-space: nowrap;
}

.line {
    border-top: 1px solid lightgray;
}

.weather-design {
    background-color: lightgray;
    text-align: center;
    text-justify: auto;
    height: 45px;
    color: #13818D !important;
}

.firstSection {
    padding-top: 3%;
}

.card-block {
    border: 0.15rem solid #868e96;
    padding: 0.10rem;
}

.card-header {
    background-color: lightgray;
}

.copy-text {
    opacity: 0.4;
}

.popover {
    background: #007bff;
    color: white;
    height: 4%;
}

.calc-cards i {
    color: #13818D;
}

#search-bar {
    width: 25rem;
    color: #13818D !important;
}

.theme-color {
    color: #13818D;
}

.footer-helper {
    min-height: 100vh;
    overflow: hidden;
    display: block;
    position: relative;
    padding-bottom: 81px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 81px;
    color: lightgray;
    background-color: #343A40;
}

#footer-buttons {
    height: 65%;
}

.dis-i {
    display: inline-block;
}

.page-footer .btn {
    background-color: #13818D;
    color: #D3D3D3;
}

hr {
    background-color: #13818D;
}