    <nav class="navbar navbar-expand-sm bg-primary navbar-dark fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <a class="navbar-brand" href="#">
                    <img src="images\qmeslogo.png" alt="logo" width="111" height="33">
                </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="navbar-nav" id="navbar">
                    <li class="nav-item">
                        <a class="nav-link" href="html\calc.html">
                            <img src="images\Calculator.ico" class="rounde-circle" width="24" height="24"> PAP Calculator
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://imanage.qmes.com/imanage/Default.aspx?" target="_blank" rel="noopener">
                            <img src="images\Workflow.jpg" class="rounde-circle" width="24" height="24"> Workflow App
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="html\PriceList.html">
                            <img src="images\Price_list.png" width="24" height="24"> Supply Price List
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="html\ProductivityReports.html">
                            <img src="images\reports.png" width="24" height="24"> Productivity Reports
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="html\LocationPars.html">
                            <img src="images\Location.svg" width="24" height="24"> Location Pars
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav nav ml-sm-auto">
                    <li class="navbar-text text-primary weather-design rounded">
                        <label class="pl-3 pr-3 h5" id="locationDisplay">70 &#8457;</label>
                    </li>
                    <li class="navbar-text">
                        <label id="todayIs"></label>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <p id="placeholder-json"></p>